<div class="w-100">

  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6 mx-auto box">
        <div class="child">

          <img src="assets/img/true-false.png">

          <div class="score">{{ i+1 + " / "+ questions.length }}</div>
          <hr>
          <h1 class="mt-5">{{questions[i]}}</h1>

          <div class="row">
            <div class="col">
              <button class="button " (click)="setFalse()" [class.bgbutton]="active==2">
                خطأ
              </button>
            </div>
            <div class="col"><button class="button " (click)="setTrue()" [class.bgbutton]="active==1">
                صحيح
              </button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
